// Fonts
$font-family-serif: 'Crimson Text', serif;
$font-family-sans: 'Inter', sans-serif;

// Variables
$primary-color: #0891b2;
$primary-hover: #0e7490;
$spacing-small: 0.5rem;
$spacing-medium: 1rem;
$spacing-large: 1.5rem;
$spacing-xlarge: 2rem;
$spacing-3xl: 3rem;

$border-radius-full: 9999px;
$transition-default: all 0.3s ease;

$font-size-small: 1rem;
$font-size-medium: 2.25rem;
$font-size-large: 3.5rem;

$quote-max-width: 800px;